.cell {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid lighten($color-board, 25%);
  // border-radius: 5px;
  // box-shadow: 2px 2px 2px #ddd;
  &.E {
    background-color: lighten($color-board,20%);
  }
  &.I {
    background-color: red;
  }
  &.T {
    background-color: blue;
  }
  &.S {
    background-color: yellow;
  }
  &.Z {
    background-color: green;
  }
  &.L {
    background-color: magenta;
  }
  &.J {
    background-color: pink;
  }
  &.O {
    background-color: aqua;
  }
}



