.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: $font-digital;
  color: $color-board-text;

  .title {
    align-items: flex-end;
    font-family: $font-digital;
    font-size: $font-digital-size/1.5; 
  }

  .value {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    align-items: flex-end;
    text-align: end;
    font-size: $font-digital-size/1.5; 
  }
}