.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .title {
    align-items: flex-end;
    font-family: $font-digital;
    font-size: $font-digital-size/1.5; 
  }

  .value {
    width: 80%;
    align-items: flex-end;
    text-align: end;
    font-family: $font-digital;
    font-size: $font-digital-size; 
  }
}