@font-face {
  font-family: 'digital-7regular-woff2';
  src: url('./../Fonts/digital-7-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'digital-7regular-woff';
  src: url('./../Fonts/digital-7-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'heavy_dataregular-woff2';
  src: url('./../Fonts/heavy_data-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'heavy_dataregular-woff';
  src: url('./../Fonts/heavy_data-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-digital: 'digital-7regular-woff2', 'digital-7regular-woff';
$font-game-title: 'heavy_dataregular-woff2', 'heavy_dataregular-woff';
$font-digital-size: 6vh;
$font-havy-size: 2vh;

